/* 
    Bring back from internet archive on August, 4 2016
    Much thank's to them for saving this page for some times
    :thumbsup:
*/


/*
     FILE ARCHIVED ON 13:16:33 Jan 23, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 4:35:32 Aug 4, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock'), local('Overlock-Regular'), url(http://fonts.gstatic.com/s/overlock/v5/oIwdBjO99oH_APMcy7EuWPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 700;
  src: local('Overlock-Bold'), url(http://fonts.gstatic.com/s/overlock/v5/EcjpF2hW5gSZ4M16YLdG850EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: 400;
  src: local('Overlock-Italic'), url(http://fonts.gstatic.com/s/overlock/v5/pYVxOAQWse7sQP47UJIxiy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
